In [1]:
str1 = "this is string example....wow!!!"
print (str1.capitalize())

This is string example....wow!!!

In [2]:
str1 = "this is string example....wow!!!"
print (str1.center(40, 'a'))

aaaathis is string example....wow!!!aaaa

In [3]:
str1 = "this is string example....wow!!!"
sub = "i"
print ("str1.count(sub, 4, 40) : ",
str1.count(sub, 4, 40))

str1.count(sub, 4, 40) :  2

In [4]:
sub = "wow";
print ("str1.count(sub) : ",str1.count(sub))

str1.count(sub) :  1

In [5]:
city = "Düsseldorf"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded)) # bytes
print(utf8_encoded) # b'D\xc3\xbcsseldorf'
decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city)) # str
print(decoded_city) # Düsseldor

<class 'bytes'>
b'D\xc3\xbcsseldorf'
<class 'str'>
Düsseldorf

In [6]:
city = "Düsseldorf"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded)) # bytes
print(utf8_encoded) # b'D\xc3\xbcsseldorf'
decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city)) # str
print(decoded_city) # Düsseldorf

<class 'bytes'>
b'D\xc3\xbcsseldorf'
<class 'str'>
Düsseldorf

In [7]:
str1 = "this is string example....wow!!!"
suffix = "wow!!!"
print (str1.endswith(suffix))
print (str1.endswith(suffix,20))
suffix = "is"
print (str1.endswith(suffix, 2, 4))
print (str1.endswith(suffix, 2, 6))

True
True
True
False

In [8]:
str1 = "this is\tstring example....wow!!!"
print ("Original string: " + str1)
print ("Defualt exapanded tab: " + 
str1.expandtabs())
print ("Double exapanded tab: " + 
str1.expandtabs(16))

Original string: this is	string example....wow!!!
Defualt exapanded tab: this is string example....wow!!!
Double exapanded tab: this is         string example....wow!!!

In [9]:
str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

15
15
-1

In [59]:
str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.index(str2))
print (str1.index(str2, 10))
print (str1.index(str2, 40))

15
15

ValueError: substring not found

In [11]:
str1 = "this2009"; # No space in this string
print (str1.isalnum())
str1 = "this is string example....wow!!!"
print (str1.isalnum())

True
False

In [12]:
str1 = "this2009"; # No space in this string
print (str1.isalpha())
str2 = "this is string example....wow!!!"
print (str2.isalpha())

False
False

In [13]:
str1 = "123456" # Only digit in this string
print (str1.isdigit())
str2 = "this is string example....wow!!!"
print (str2.isdigit())

True
False

In [14]:
str1 = "THIS is string example....wow!!!"
print (str1.islower())
str2 = "this is string example....wow!!!"
print (str2.islower())

False
True

In [15]:
str1 = u"this2009" 
print (str1.isnumeric())
str2 = u"23443434"
print (str2.isnumeric())

False
True

In [16]:
str1 = " "
print (str1.isspace())
str2 = "This is string example....wow!!!"
print (str2.isspace())

True
False

In [17]:
str1 = "This Is String Example...Wow!!!"
print (str1.istitle())
str2 = "This is string example....wow!!!"
print (str2.istitle())

True
False

In [18]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.isupper())
str2 = "THIS is string example....wow!!!"
print (str2.isupper())

True
False

In [19]:
s = "-"
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq ))

a-b-c

In [20]:
str1 = "this is string example....wow!!!"
print ("Length of the string: ",
len(str1))

Length of the string:  32

In [21]:
str1 = "this is string example....wow!!!"
print (str1.ljust(50, '0'))

this is string example....wow!!!000000000000000000

In [22]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.lower())

this is string example....wow!!!

In [23]:
str1 = " this is string example....wow!!! "
print (str1.lstrip())
str2 = "88888888this is string example....wow!!!8888888"
print (str2.lstrip('8'))

this is string example....wow!!!
this is string example....wow!!!8888888

In [24]:
intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)
str1 = "this is string example....wow!!!"
print (str1.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [25]:
str1 = "this is really a string example....wow!!!"
print ("Max character: " + max(str1))
str2 = "this is a string example....wow!!!"
print ("Max character: " + max(str2))

Max character: y
Max character: x

In [26]:
str1 = "this-is-real-string-example....wow!!!"
print ("Min character: " + min(str1))
str2 = "this-is-a-string-example....wow!!!"
print ("Min character: " + min(str2))

Min character: !
Min character: !

In [27]:
str1 = "this is string example....wow!!! this is really string"
print (str1.replace("is", "was"))
print (str1.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [28]:
str1 = "this is really a string example....wow!!!"
str2 = "is"
print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 0))
print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

5
5
-1
2
2
-1

In [29]:
str1 = "this is string example....wow!!!"
str2 = "is"
print (str1.rindex(str2))
print (str1.index(str2))

5
2

In [30]:
str1 = "this is string example....wow!!!"
print (str1.rjust(50, '0'))

000000000000000000this is string example....wow!!!

In [31]:
str1 = " this is string example....wow!!!    "
print (str.rstrip(str1))
str2 = "88888888this is string example....wow!!!8888888";
print (str2.rstrip('8'))

 this is string example....wow!!!
88888888this is string example....wow!!!

In [32]:
str1 = "Line1-abcdef \nLine2-abc \nLine4-abcd"
print (str1.split( ))
print (str1.split(' ', 1 ))

['Line1-abcdef', 'Line2-abc', 'Line4-abcd']
['Line1-abcdef', '\nLine2-abc \nLine4-abcd']

In [33]:
str1 = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d"
print (str1.splitlines( ))
print (str1.splitlines( 0 ))
print (str1.splitlines( 3 ))
print (str1.splitlines( 4 ))
print (str1.splitlines( 5 ))

['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']

In [34]:
str1 = "this is string example....wow!!!"
print (str1.startswith( 'this' ))
print (str1.startswith( 'is', 2, 4 ))
print (str1.startswith( 'this', 2, 4 ))

True
True
False

In [35]:
str1 = "0000000this is string example....wow!!!0000000"
print (str1.strip( '0' ))

this is string example....wow!!!

In [36]:
str1 = "this is string example....wow!!!"
print (str.swapcase(str1))
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!

In [37]:
str1 = "this is string example....wow!!!"
print(str1.title())

This Is String Example....Wow!!!

In [38]:
intab = "aeiou"
outtab = "12345"
str1 = "this is string example....wow!!!"
trantab = str.maketrans(intab, outtab)
print (str1.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [39]:
str1 = "this is string example....wow!!!"
print ("str1.capitalize() : ",str1.upper())

str1.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

In [40]:
str1 = "this is string example....wow!!!"
print (str1.zfill(40))
print (str1.zfill(50))

00000000this is string example....wow!!!
000000000000000000this is string example....wow!!!

In [41]:
str1 = u"this2009" 
print (str1.isdecimal())
str2 = u"23443434"
print (str2.isdecimal())

False
True

In [42]:
name = input("Name: ")
BOD = input("Year of birth: ")
salary = input("Salary: RM ")

Name: Bob
Year of birth: 1998
Salary: RM 5500

In [43]:
x = 2030  
age = x - int(BOD)
tax = int(salary)*(12.3/100)
tax = round(tax,2)

print("Goodday", name ,"your year of birth is", BOD ,"and your age in the year 2030 will be", age ,
      ".From your salary of", salary ,"the computed tax of \n12.3% is", tax)

Goodday Bob your year of birth is 1998 and your age in the year 2030 will be 32 .From your salary of 5500 the computed tax of
12.3% is 676.5

In [44]:
x = input('Enter the names of people separated by space\n')
print("\n")
user_list = x.split()


y = input('Enter the scores of people separated by space\n')
print("\n")
score_list = y.split()


# print list
print('Names: ', user_list )
print('Score: ', score_list )

# convert each item to int type
for i in range(len(score_list)):
    # convert each item to int type
    score_list[i] = int(score_list[i])

# Calculating the sum of list elements
avg = sum(score_list) / len(score_list)
avg = round(avg,2)
print("Average Score = ",avg)

Enter the names of people separated by space
Bob Ali Sheila Sim Mike


Enter the scores of people separated by space
88 78 69 91 72


Names:  ['Bob', 'Ali', 'Sheila', 'Sim', 'Mike']
Score:  ['88', '78', '69', '91', '72']
Average Score =  79.6

In [46]:
rec_add = input("Receiver address :")
send_add = input("Sender Address:")
person = input("concerned to : ")
date = input("date: ")
Reason = input("Reason: ")
name = input("Name: ")
phone = input("Phone Number: ")
email = input("Email Address: ")

Receiver address :Mall of Medini, Anchor 6, 79200 Nusajaya, Johor
Sender Address:No 819 Jalan Jambu Bol 9 Taman Muhibbah , 81400, Senai, Johor
concerned to : Mr Edwin
date: 18/10/2021
Reason: AI Developer Job Application
Name: Saseendran Nair
Phone Number: 0167560030
Email Address: saseen1221@gmail.com

In [58]:
import textwrap as twp

print(rec_add,"\n\n")
print(send_add,"\n")

print("Dear",person,"\t\t\t\t\t\t\t\t\t\t\t",date)

Rea = Reason.center(105)
print("\n",Rea,"\n")

sp1="""
      I am a profoundly resolved I.T. new alumni that holds a Bachelor in Information Technology (honours) 
      Artificial intelligence from Multimedia University and am prepared to do working autonomously in the field 
      of Artificial Intelligence. An eager who likes to step up to the plate and search out new challenges.
      In a quest for position where I am fit in aiding the organization and simultaneously,
      work on my vision and craftmanship.
      """

sp2="""
      I have attached my resume with more information about my education and experiences.
      I can be reached anytime by phone or email. I look forward to speaking with you soon.\n\n
      """
print(twp.fill(sp1, width=50))
print(twp.fill(sp2, width=50))
print("Sincerely,\n\n")
print(name,"\n\n")
print(phone)
print(email)

Mall of Medini, Anchor 6, 79200 Nusajaya, Johor


No 819 Jalan Jambu Bol 9 Taman Muhibbah , 81400, Senai, Johor

Dear Mr Edwin 											 18/10/2021

                                        AI Developer Job Application

       I am a profoundly resolved I.T. new alumni
that holds a Bachelor in Information Technology
(honours)        Artificial intelligence from
Multimedia University and am prepared to do
working autonomously in the field        of
Artificial Intelligence. An eager who likes to
step up to the plate and search out new
challenges.       In a quest for position where I
am fit in aiding the organization and
simultaneously,       work on my vision and
craftmanship.
       I have attached my resume with more
information about my education and experiences.
I can be reached anytime by phone or email. I look
forward to speaking with you soon.
Sincerely,


Saseendran Nair


0167560030
saseen1221@gmail.com